<div class="homepage">
  <%#= image_tag "https://images.unsplash.com/photo-1525367932065-ced537e0dc48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", alt: "alttext" %>
  <%= image_tag "https://www.bridalasia.com/wp-content/uploads/2019/06/Papa-Dont-Preach-by-Shubhika_5.jpg", alt: "alttext" %>
</div>
<h6 class="text-center p-3">'Indian-Summer' Collection Out Now!</h6>
<h5 class="text-center p-3"><i class="fas fa-chevron-down"></i></h5>
